/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$primary: #FFFFFF;
$secondary: #5f4d4d;
$accent: #252222;
$white: #000000;

* {
	box-sizing: border-box;
	font-family: 'Kaushan Script', sans-serif;
	font-size: 1.15rem;
}

html {
	height: 100%;
}

body {
	background: url('ninja_group.png') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: $primary;
	height: 100%;
	color: $primary;  
	padding-bottom: 3rem;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

header {
	top: 0;
	width: 100%;
	padding: 1.5rem 0;
	.header_inner {
		width: 90%;
		margin: 0 auto;
		.name {
			display: inline-block;
			font-size: 1.5rem;
			width: 10rem;
			float: left;
		}
		nav {
			float: right;
			a {
				text-decoration: none;
				color: $primary;
				font-size: 1.1rem;
				line-height: 1.5;
				margin-left: 1rem;
				&:hover {
					color: $secondary;
				}
			}
		}
	}
}

.notice, .alert {
	text-align: center;
}

.wrapper {
	padding: 1.5rem 2rem;
	.welcome {
		text-align: center;
		padding: 2rem 0;
		h1 {
			font-size: 2.25rem;
		}
		p {
			font-size: 1.45rem;
			line-height: 1.15;

		}
		.ninjas {
			height: 100px;
			width: 200px;
		}
	}
}

#timeline {
	width: 75%;
	position: relative;
	list-style: none;
	padding: 0;
	float: right;
	a {
		text-decoration: none;
	}
	.listing {
		background: rgba(255, 255, 255, 0.85);
		border: 1px solid $accent;
		border-radius: 0.3rem;
		padding: 1rem;
		margin-bottom: 1rem;
		position: relative;
		z-index: 1;
		display: table;
		width: 96%;
		.img, .info, .job_type {
			display: table-cell;
			vertical-align: middle;
			font-size: .9rem;
			color: $secondary;
		}
		.info {
			line-height: 1.25;
			width: 640px;
			padding-left: 25px;
			.job_title {
				font-weight: 700;
				color: $accent;
				font-size: 1.5rem;
			}
			.job_info {
				color: $secondary;
				display: block;
				span {
					margin: 0 0.35rem;
				}
			}
		}
		.job_type {
			text-transform: uppercase;
			font-weight: 700;
			font-size: 0.75rem;
			position: relative;
			white-space: nowrap;
			padding-top: 0.5rem;
			width: 100px;
			&:before {
				content: " ";
				background: $accent;
				width: 10px;
				height: 10px;
				border-radius: 100%;
				position: absolute;
				left: -20px;
				top: 28px;
			}
		}
		transition: all .3s ease-in-out;
		&:hover {
			cursor: pointer;
			box-shadow: 0px 2px 40px 0 rgba(0, 0, 0, 0.1)
		}
	}
}




.categories {
	text-align: center;
	list-style: none;
	float: left;
	width: 25%;
	padding: 0.5rem 1rem;
	font-size: 1.5rem;
	margin: 0;
	.category {
		margin: 1rem 0.5rem;
		border-bottom: 1px solid $secondary;
	}
}

button, .button {
	border: none;
	outline: none;
	background: $primary;
	padding: 0.5rem 1.5rem;
	border-radius: 0.75rem;
	a {
		color: $secondary;
		text-decoration: none;
		background: $primary;
	}
}

.button {
	color: $secondary;
	margin: 2rem 0;
}

a {
	color: $primary;
	text-decoration: none;
	&:hover {
		color: $secondary;
	}
}

input[type="text"], input[type="email"], input[type="password"], textarea {
	width: 100%;
	margin-bottom: 1rem;
	border: 1px solid $secondary;
	border-radius: .4rem;
}

input[type="text"], input[type="email"], input[type="password"] {
	height: 40px;
}

input[type="submit"] {
	outline: none;
	border: 1px solid $accent;
	text-align: center;
	font-size: 1em;
	color: $secondary;
	text-decoration: none;
	&:hover {
		color: $accent;
	}
}

textarea {
	min-height: 200px;
}

@media only screen and (max-width: 768px) {
	header {
		top: 0;
		width: 100%;
		padding: 1.5rem 0;
		.header_inner {
			width: 90%;
			margin: 0 auto;
			.name {
				display: block;
				font-size: 1.35rem;
				float: none;
				margin: 0 auto 2rem;
				text-align: center;
			}
			nav {
				float: none;
				text-align: center;
				a {
					color: $primary;
					font-size: 1.1rem;
					line-height: 1.5;
					margin: 0 0.5rem;				
				}
			}
		}
	}
	.wrapper {
		padding: 1rem 0.5rem;
		#timeline {
			float: none;
			width: 100%;
		}
		.categories {
			float: none;
			width: 100%;
			.category {
				border-bottom: none;
				display: inline;
			}
		}
		.show {
			margin-top: 2rem;
		}
	}
}

@media only screen and (max-width: 520px) {
	#timeline {
		.listing {
			.info {
				width: 100%;
				padding: 0.4rem 0 0 0;
				.job_title {
					font-size: 1.25rem;
				}
			}
			.job_type {
				display: none;
			}
		}
	}
}
@import 'normalize';